nav { 
  background: #121E36;;
  height: 80px; 
  width: auto;
}

nav ul {
  height: 80px;
  list-style: none;
  margin: 0 auto; 
  padding-right: 10px;
  list-style-type: none;
}

nav ul li {
  color: #fff;
  text-decoration: none;
  display: inline-block; 
  height: 80px;
  line-height: 80px; 
  list-style: none;
  padding: 0px 50px;
  padding-right:100px ;
  
}

body{
  background-color: rgb(216, 230, 236);
}
  
  


li a:hover {

  transform: scaleY(1.1); 
}
li a:visited{

 
  color: white;
 
  
}
li a:active{
  
  color: rgb(99, 117, 168);
}

h1{
  font-family: 'Bungee Shade';   
  color: white;
  font-size: 5rem;
  text-align: center;
  text-shadow: 2px 2px 10px black;
  flex: 5;
  text-transform: uppercase;

}
li a{
  text-decoration: none;
  text-transform: uppercase;
  color:white;

}
.header{

    margin-bottom: 0px;
  padding-top: 10px;      
  height: 220px;
 
    background-color:rgb(99, 117, 168);

}

.container{
    display: grid;
    margin-top: 100px;
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: repeat(4,1fr); */
    border:2px  solid rgb(216, 230, 236);
    grid-gap: 4mm;
    padding: 10px 20px;
    padding-top: 30px;
    padding-bottom: 50px;
    width: auto;
    padding-left: 1px;
    height: 44cm;
    margin-bottom: 80px;
    margin-left: 20px;
    background-color: rgb(216, 230, 236);
}
.box1{
  grid-column: 1;
  border:2px  solid whitesmoke;
  height: 400px;
  border-radius: 8px;


}
.box2{
 grid-column: 2;
 border:2px  solid whitesmoke;
 height: 600px;
 width: auto;
 border-radius: 8px;
 
}
.box3{
  grid-column:3;
  border:2px  solid whitesmoke;
  height: 400px;
  width: auto;

  border-radius: 8px;

}
.box4{
  grid-column:1;
  margin-bottom: 60px;
  position: relative;
  bottom:  195px;
  /* grid-row: 3; */
  border:2px  solid whitesmoke;
  height: 300px;
  width: auto;

  border-radius: 8px;

}
.box5{
  grid-column:2;
  /* grid-row: 3; */
  border:2px  solid whitesmoke;
  height: 400px;
  width: auto;

  border-radius: 8px;

}
.box6{
  grid-column:3;
  border:2px  solid whitesmoke;
  position: relative;
  bottom: 190px;
  height: 590px;
  width: auto;

  border-radius: 8px;
}
.box7{
  grid-column:1;
 position: relative;
 bottom: 475px;
  border:2px  solid whitesmoke;
  height: 600px;
  width: auto;

  border-radius: 8px;
}
.box8{
  grid-column:2/ span 3;
  border:2px  solid whitesmoke;
  width: 1160px;
  position: relative;
  bottom: 185px;
  height: 307px;
  width: auto;

  border-radius: 8px;
}
.box9{
  grid-column:1/ span 2;
  border:2px  solid whitesmoke;
  position: relative;
  bottom: 475px;
  height: 307px;
  width: auto;

  border-radius: 8px;
}
.box10{
  grid-column:3;
  border:2px  solid whitesmoke;
  position: relative;
  bottom: 475px;
  height: 307px;
  width: auto;

  border-radius: 8px;
}
img{
  border-radius: 8px;
}
img:hover{
  transform: scaleY(1.1); 
}


